<div class="d-flex justify-content-center mt-5">
    <div class="col-10 col-sm-9 col-md-6 col-lg-5 col-xl-4 p-5 bg-light rounded shadow">

        <form class="login-form">
            <!--email input-->
            <div class="form-outline mb-4">
                <input type="email" id="email-login" placeholder="Email" class="form-control" />
            </div>

            <!--password input-->
            <div class="form-outline mb-4">
                <input type="password" id="password-login" placeholder="Password" class="form-control" />
            </div>

            <!--submit-->
            <button type="submit" class="btn btn-dark col-12 mb-4">Sign In</button>

            <!--Register button-->
            <div class="text-center">
                <p><a href="/register">Sign Up Here</a></p>
            </div>
        </form>
    </div>
</div>

<!-- update script src-->
<script src="/javascript/login.js"></script>