<div class="bg-dark text-light">
  <div class="container">
    <div class="d-flex">
      <div class="col-md-12">
        <h1 class="fw-bold">Create New Post</h1>
      </div>
    </div>
  </div>
</div>

<!-- form -->
<div class="container">
  <form id="new-post-form" user-data="{{user_id}}" method="POST">
    <div class="card mt-3 bg-dark overflow-hidden">
      <div class="d-flex card-header justify-content-between align-items-center text-light">
        <h2>New Post</h2>
      </div>
      <div class="card-body bg-light">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="form-group">
          <label for="body">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark mt-3">Create</button>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/add-post.js"></script>