<nav class="navbar navbar-light" style="background-color: aliceblue;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#if active_home}}active{{/if}}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if active_dashboard}}active{{/if}}" href="/dashboard">Dashboard</a>
        </li>
      </ul>
      <div class="d-flex">
        {{#if loggedIn}}
        <a id="logout" class="text-dark btn btn-light px-3 py-1 rounded text-decoration-none fw-bold">Logout</a>
        {{else}}
        <a class="text-dark btn btn-light px-3 py-1 rounded text-decoration-none fw-bold" href="/login">Login</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

<section>
<div class="container">
  {{> post-info post}}
  {{#if loggedIn}}
  <div class="buttons d-flex justify-content-center">
    {{vote_count}}
    <button id="likeBtn" class="upvote-btn text-white btn"><svg class="bi bi-heart-fill" width="1em" height="1em"
        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
      </svg> Like</button>
    <button id="comment-btn" onclick="comment_form()" class="btn btn-dark"><svg class="bi bi-chat-square-dots"
        width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
      </svg> Comment</button>
  </div>
  {{/if}}

  {{#if post.comments}}
  <h2 class="mt-2" style="color: aliceblue;">Comments</h2>
  {{#each post.comments as |comment|}}
  {{> comment-info comment}}
  {{/each}}
  {{else}}
  <h2 style="color: aliceblue;">No comments yet.</h2>
  {{/if}}

  {{#if loggedIn}}
  <!--- COMMENT FORM -->
  <form id="comment-form" user-data="{{user_id}}" class="mt-3 d-none" method="POST">
    <div class="form-group card">
      <div class="card-header bg-dark text-light">
        Comment
      </div>
      <div class="card-body">
        <textarea name="comment" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-2">Submit</button>
  </form>
  {{/if}}
</div>
</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}