<div class="bg-dark text-light">
  <div class="container">
    <div class="d-flex">
      <div class="col-md-12">
        <h1 class="fw-bold">Update Post</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form id="update-post-form" method="POST">
    <div class="card mt-3 bg-dark overflow-hidden">
      <div class="d-flex card-header justify-content-between align-items-center text-light">
        <h2>Edit Post</h2>
      </div>
      <div class="card-body bg-light">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" />
        </div>
        <form action="/" method="POST" encType="multipart/form-data">
          <h3>Upload Photo</h3>
          <input type="file" name="images" />
          <input type="submit" class="btn btn-primary">
        </form>

        <div class="form-group">
          <label for="body">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3">{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Update</button>
        <button id="delete-btn" type="button" class="btn btn-danger mt-3">Delete</button>
      </div>
    </div>

    {{!-- <form accept="image/x-png,image/gif,image/jpeg" enctype="multipart/form-data" action="/" method="post">
      <input type="file" name="new-post-form" value="">
      <input type="submit" name="" value="test">
    </form> --}}

  </form>





  <script src="/javascript/update-delete-post.js"></script>
</div>