<div class="flex-grow-1 d-flex">
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="col-10 col-sm-9 col-md-6 col-lg-5 col-xl-4 p-5 bg-light rounded shadow">
            <form class="register-form">
                <!--username-->
                <div class="form-outline mb-4">
                    <input 
                        type="text"
                        id="username-register"
                        placeholder="Username"
                        class="form-control"
                        />
                </div>
                <!--email-->
                <div class="form-outline mb-4">
                    <input
                        type="email"
                        id="email-register"
                        placeholder="Email"
                        class="form-control"
                        />
                </div>
                <!--password-->
                <div class="form-outline mb-4">
                    <input
                        type="password"
                        id="password-register"
                        placeholder="Password"
                        class="form-control"
                        />
                </div>
                <!--submit-->
                <button type="submit" class="btn btn-dark col-12 mb-4">Register</button>
                <div class="text-center">
                    <p>Have an account><a href="/login"> Login Here</a></p>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="/javascript/register.js"></script>