body {
  background-color: white;
}

.upvote-btn {
  position: relative;
  right: 20px;
  background-color: lightblue;
}

.person {
  position: relative;
  right: 7px;
  bottom: 2px;
}

.card-header {
  background: linear-gradient(to right, #626ff8 0%, #120494 100%);
}

.bottom-header {
  background: aliceblue;
}

.background {
  background: center;
}

.font {
  font-size: 65px;
  color: lightsteelblue;
  display: flex;
  justify-content: space-around;
  font-family: emoji;
}

.post-comments {
  font-size: 40px;
}

.dandelion {
  background-image: url("/public/images/dandelion .jpeg");
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
}

.feed-design {
  padding: 20px;
  color: grey;
}
